@use 'sass:list';
@use 'bulma/sass/utilities/controls' as co;
@use 'bulma/sass/utilities/initial-variables' as c;
@use '../common/variables' as v;
@use '../common/functions' as f;
@use 'bulma/sass/utilities/extends';

.b-checkbox {
  &.checkbox {
    @extend %unselectable;
    outline: none;
    display: inline-flex;
    align-items: center;

    &:not(.button) {
      margin-right: 0.5em;

      & + .checkbox:last-child {
        margin-right: 0;
      }
    }

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      opacity: 0;
      outline: none;
      z-index: -1;

      + .check {
        width: v.$checkbox-size;
        height: v.$checkbox-size;
        flex-shrink: 0;
        border-radius: v.$checkbox-border-radius;
        border: v.$checkbox-border-width solid v.$checkbox-border-color;
        transition: background v.$speed-slow c.$easing;
        background: v.$checkbox-background-color;
      }

      &:checked + .check {
        background: v.$checkbox-active-background-color
          url(f.checkmark(v.$checkbox-checkmark-color)) no-repeat center center;
        border-color: v.$checkbox-active-background-color;
        @each $name, $pair in v.$dual-colors {
          $color: list.nth($pair, 1);
          $color-invert: list.nth($pair, 2);
          &.is-#{$name} {
            background: $color
              url(f.checkmark($color-invert))
              no-repeat
              center
              center;
            border-color: $color;
          }
        }
      }
      &:indeterminate + .check,
      &.is-indeterminate + .check {
        background: v.$checkbox-active-background-color
          url(f.indeterminate(v.$checkbox-checkmark-color)) no-repeat center
          center;
        border-color: v.$checkbox-active-background-color;
        @each $name, $pair in v.$dual-colors {
          $color: list.nth($pair, 1);
          $color-invert: list.nth($pair, 2);
          &.is-#{$name} {
            background: $color
              url(f.indeterminate($color-invert))
              no-repeat
              center
              center;
            border-color: $color;
          }
        }
      }

      &:focus {
        + .check {
          box-shadow: 0 0 0.5em rgba(c.$grey, 0.8);
        }
        &:checked + .check {
          box-shadow: 0 0 0.5em rgba(v.$checkbox-active-background-color, 0.8);
          @each $name, $pair in v.$dual-colors {
            $color: list.nth($pair, 1);
            &.is-#{$name} {
              box-shadow: 0 0 0.5em rgba($color, 0.8);
            }
          }
        }
      }
    }
    .control-label {
      padding-left: co.$control-padding-horizontal;
    }

    &.button {
      display: flex;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &:hover {
      input[type='checkbox']:not(:disabled) + .check {
        border-color: v.$checkbox-active-background-color;
        @each $name, $pair in v.$dual-colors {
          $color: list.nth($pair, 1);
          &.is-#{$name} {
            border-color: $color;
          }
        }
      }
    }

    &.is-small {
      @include co.control-small;
    }

    &.is-medium {
      @include co.control-medium;
    }

    &.is-large {
      @include co.control-large;
    }
  }
}
